@charset "UTF-8";
body {
  margin: 0;
  font-family: "Pretendard", "Godo", 돋움, sans-serif;
}

ul li {
  list-style: none;
  padding: 0;
}

.content {
  height: 1050px;
  background-color: #091020;
  color: white;
  background-image: url(./aboutus-image/about_graph_img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services {
  width: 945px;
  margin: 0 auto;
}
.services h4 {
  font-family: "Poppins", "Pretendard", "Godo", 돋움, sans-serif;
  font-size: 46px;
}