@charset "utf-8";

     body{
            font-family: Poppins,Pretendard,sans-serif;
            margin: 0;
        }

     .kha #element{
        margin-left: 235px ;
        width: 700px;
     
     } 

      .kha #box p.eve{
            font-size: 74px;
            margin: 0px 0;
            font-family: 'Godo','Notokr',sans-serif;
            font-weight: 900;
       
        }
       .kha #box p{
            font-size: 22px;
            color:white;
        }

        .kha #box{
            background-image: url(./img/221018_tong_main.jpg);
            background-size: cover;
            width: 100%;
            height: 100vh;  
            display: flex;
            flex-flow: column ;
            
        }

        .kha #box button{
            height: 60px; width: 60px;
            border-radius: 50px;
            border: none;
            background-color: rgba(250,250,250,0.2);
            font-size: 35px;
            text-indent: 3px;
            color:rgba(250,250,250,0.5);
            display: inline-block;
            margin: 240px 0 30px 10px ;
            
        }

        .kha #box a{
            display: block;
            background-color: none;
            padding: 15px 0 5px 0  ; 
            border: rgba(250,250,250,0.7) solid 1px;
            width: 220px; height: 37px;
            text-align: center;
            font-weight: bold;
            font-size: 17px;
            text-decoration: none;
            color:white;
            margin: 55px 0 100px 0;
       
   
        }
        .kha #box a .material-symbols-outlined{
            padding-left: 30px;
        }
        .kha #box ul{
            padding: 0;
            list-style: none;
            
        }
        .kha #box ul li{
            
            float: left;
            border-bottom: rgba(250,250,250,0.5) solid 2px;
            padding: 4px;
            width: 70px;
            color:rgba(250,250,250,0.5);
            font-weight: bold;
            font-size: 14px;
      
        }

        a .material-symbols-outlined{
          vertical-align: bottom;
        }