/* 안녕 */

body {
  font-family: "Poppins", "Pretendard", sans-serif;
}

.wrap_header {
  header {
    font-family: "Pretendard", sans-serif;
    font-size: 17px; font-weight: 500;
    width: 100%; height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 1px 10px 1px rgba(68, 68, 68, 0.1);
    padding: 0 20px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      width: 125px;
      height: 30px;
      background: url(./images/logo.png)no-repeat center center;
      background-size: 100% auto;
    }
    ul {
      font-size: 17px; font-weight: 500;
      max-width: 900px;
      width: 100%; height: 100%; 
      display: flex;
      li {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%; height: 100%;
          box-sizing: border-box;
          p {
            color: #222;
            position: relative;
          }
          p::after {
            content: "";
            width: 0; height: 2px;
            background-color: #444;
            position: absolute;
            top: 30px; left: 0;
            transition: .2s;
            opacity: 0;
          }
          p:hover::after {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
  }
}
.wrap_footer {
  footer {
    font-family: 'Pretendard';
    background-color: #222;
    color: #444;
    padding: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    .footer_box {
      a {
        width: 60px; height: 60px;
        position: fixed;
        right: 60px; bottom: 60px;
        background-image: url(./images/arrow_top.png);
        background-size: 100%;
      }
      ul {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        line-height: 1.7;
        li {
          font-size: 15px;
          color: #444;
          span {
          padding: 0 18px;
          }
        }
      }
      .copy { 
        font-size: 14px;
        margin: 50px 0 0;
      }
    }
  }
}
.wrap_content3 {
  main {
    .content_box {
      max-width: 1460px;
      margin: 0 10% 240px;
      padding: 20px;
      display: flex;
      text-align: left;
      h3 {
        font-size: 34px;
        margin: 0 0 40px;
        width: 50%;
        span { 
          font-family: 'Godo','notokr';
          font-size: 44px;
          color:#3a68b2;
        }
      }
      .txtBox {
        font-family: 'Pretendard';
        width: 50%;
        h4 {
          font-size: 28px; font-weight: 500;
          margin: 0 0 30px;
          span { 
            font-weight: 700;
            color:#3a68b2;
          }
        }
        p { margin: 0 0 25px; }
        a {
          font-weight: 600;
          display: flex;
          justify-content: start;
          margin: 90px auto 0 0;
          padding: 0 10px;
          max-width: 140px; width: 100%;
          height: 50px;
          border-bottom: rgb(34, 34, 34) 2px solid;
        }
      }
    }
  }
}